version: '3.3'
services:
  main-web:
    image: tubes-1:latest
    ports:
      - 8008:80
    volumes:
      - ./src:/var/www/html
    networks:
      - test_pekotify
  db:
    image: mysql:latest
    ports:
      - 3308:3306
    volumes:
      - ./database/dump-pekotify-202212021442.sql:/app/init.sql
    environment:
      MYSQL_ROOT_PASSWORD:
      MYSQL_DATABASE: pekotify
      MYSQL_ALLOW_EMPTY_PASSWORD: yes
    networks:
      - test_pekotify
  
networks:
  test_pekotify:
    external: true