.artist-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: normal;
}

.artist {
    display: flex;
    flex-direction: row;
    width: 270px;
    max-height: 40px;
    background-color: #181818;
    padding: 16px;
    margin: 8px;
    transition: 0.3s;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.artist:hover {
    background-color: #282828;
}

.artist-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.artist-name {
    font-size: 16px;
    font-weight: 800;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 100%;
    height: fit-content;
    vertical-align: center;
}

.premium-artists-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: normal;
}

.rejected-btn {
    background-color: transparent;
    color: #ff6666;
    border: none;
    border-radius: 50px;
    padding: 8px 16px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s;
    width: 130px;
}

.pending-btn {
    background-color: transparent;
    color: #ffffaa;
    border: none;
    border-radius: 50px;
    padding: 8px 16px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s;
    width: 130px;
}

.subscribe-btn {
    background-color: #72d5fe;
    color: #000000;
    border: none;
    border-radius: 50px;
    padding: 8px 16px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s;
    width: 130px;
    cursor: pointer;
}

.subscribe-btn:hover {
    background-color: #84daff;
}

.artist-songs-btn {
    color: #72d5fe;
    background-color: transparent;
    border: none;
    border-radius: 50px;
    padding: 8px 16px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s;
    width: 130px;
    text-align: center;
    cursor: pointer;
}

.artist-songs-btn:hover {
    color: #ffffff;
}